body {
  color: white;
  background-color: #263238;
  font-size: 18px;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  color: #ddd;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.search-icon {
  background: transparent;
  border: none;
  float: right;
  cursor: pointer;
}

.icon {
  height: 3rem;
}

.search {
  margin: 1rem 0;
}

.search.hidden {
  display: none;
}

.list-container {
  align-items: left;
  display: inline-flex;
  flex-direction: column;
  padding-top: 2rem;
  width: 100%;
}

.list-container a {
  padding: 0.25rem;
  flex-grow: 1;
  width: 100%;
}

.list-container .child:before {
  content: ' › ';
}
.list-container .child {
  margin-left: 1rem;
}

.logo {
  margin: 2rem auto;
  font-size: 3rem;
}

.example {
  display: flex;
  flex-direction: column;
}

.example-title {
  font-size: 2.5rem;
  margin: 0;
}

h3 + p {
  margin-top: 0;
}

.example-header{
  margin-bottom: 0;
}

.example-description {
  font-weight: 100;
  line-height: 1.5rem;
}

.example-tags {
  margin: 1rem 0;
  text-align: right;
}

.example-tags > .tag {
  background-color: #369;
  padding: .5rem .5rem;
  border-radius: .5rem;
}

.example-tags > .tag.link {
  background-color: #696;
}

code.code-example.language-scala {
  font-size: 0.9rem;
}

.text-input {
  background-color: #37474f;
  border: solid 1px #90a4ae;
  clear: both;
  color: white;
  display: block;
  font-size: 24px;
  padding: 1rem;
  width: 100%;
}


.footer {
  margin: 0 auto;
  width: 960px;
  text-align: center;
}
